$font: Verdana;

body {
    font-family: $font;
}

.logo {
    width: 180px;
    margin: 20px 0px 0px 40px;
}

.menu {
    ul {
        list-style-type: none;

        li {
            display: inline;
        }
    }
}

